.page 
    padding-bottom 2rem
    padding-top 3.5rem

h2 > a
  font-weight inherit

a
  word-break break-word
// td > img
//   outline solid 1px #555
//   height auto
//   min-width 50%
//   position relative
//   z-index 0
//  transition transform .1s, box-shadow .1s .05s, z-index 0.13s

tr:nth-child(2n)
  background-color #ffffff00

th, td
  border 1pt solid #00000022
  padding 0.5em 0.5em

th
  background-color #0071ba
  color #fdfdfd

a.header-anchor
  font-size .625em
  float left
  margin-top 0.25em
  margin-left -1.4em
  padding-right 0em
  padding-bottom 0.25em
  opacity 0

.theme-default-content:not(.custom) a:hover
  text-decoration none
  border-bottom #0071ba solid 0.0625em

.theme-default-content code
  color #35536f

.line-number, code, kbd
  font-family "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", "Meiryo", "メイリオ", monospace

.custom-block
  &.tip, &.warning, &.danger
    padding 0.125rem 1.5rem
    border-left-width 0.25rem
    border-left-style solid
    margin 1rem 0
    border-radius 20px 0 0 0
    .custom-block-title
      font-size 110%
  &.warning 
    background-color #ffe5644d
    border-color #e7c000
    color #423700
    .custom-block-title
      color #635200
  &.tip
    background-color #e9f6ff
    border-color #0071ba
    color #00356b
    .custom-block-title
      color #0051a2
  &.danger
    background-color #ffe6e6
    border-color #c00
    color #690000
    .custom-block-title
      color #900

.query
  border 0px
  border-left 1pt solid #0071ba
  border-right 1pt solid #0071ba
  border-radius 30px
  height 44px
  margin 0 0.0625rem
  padding 0 0.5rem
  background-color #00000000
  color #111

.examples
  margin 1rem 0 1rem 0
  background linear-gradient(90deg, #fff, #f7fafc 1%, #f7fafc 99%, #fff)
  border-top .5em solid #0071ba
  border-bottom .25em solid #0071ba
  img
    border 1pt solid
    border-image linear-gradient(135deg, #bbb, #f4f4f4 12%, #f4f4f4 88%, #bbb) 1
    border-image-width 1pt
  .example
    display flex
    flex-direction column
    justify-content center
    border-bottom 1pt solid #f7fbfd
    padding 0 1rem
    border-image linear-gradient(90deg, #fff, #f7fbfd 1%, #ccc 6%, #ccc 94%, #f7fbfd 99%, #fff) 1
    border-image-width 0 0 1pt 0
    .results
      display flex
      justify-content center
      flex-wrap wrap
      margin 1rem 0
    .result
      display flex
      flex 1 1 250px
      max-width 500px
      flex-direction column
      padding 1rem 1rem 2rem 1rem
      margin 0 0.1875rem
      border 1pt solid
      border-bottom none
      border-image linear-gradient(#80b8dd, #f7fbfd 95%) 1
      border-image-width 1pt 1pt 0 1pt
      background linear-gradient(#fff 95%, #f7fafd)
      p
        margin 0.5rem 0

.example:last-child
  border none

.note
  font-size 1rem
  color #444
  border-left 0.1875rem solid #aaa
  margin 1rem 0
  padding 0 0 0 1rem
  background -webkit-linear-gradient(left, #f4f4f4, #fff)
  background linear-gradient(90deg, #f4f4f4, #fff)

blockquote
  font-family Roboto,HelveticaNeue,Arial,sans-serif
  font-size 14px
  line-height 1.7
  color #3C4043
  border-left 0.1875rem solid
  border-image linear-gradient(#ea4335, #ea4335 25%, #fbbc05 25%, #fbbc05 50%, #34a853 50%, #34a853 75%, #4285f4 75%) 1
  border-image-width 0 0 0 0.1875rem
  background-color linear-gradient(#ea4335, #ea4335 25%, #fbbc05 25%, #fbbc05 50%, #34a853 50%, #34a853 75%, #4285f4 75%)

dt
  margin-top 0.5rem

dd
  margin-inline-start 2rem

.page-edit .last-updated .time
  color #767676 !important

.page-edit .last-updated .prefix
  color #3f5a75 !important

.page-edit .edit-link a
  color #3f5a75 !important
