.content {

}

th {
    background-color: #0071ba;
    color: #fdfdfd;
}

td:nth-child(1) {
	width: 150px;
	overflow-wrap: break-word;
}
td:nth-child(2) {
	width: 150px;
}
td:nth-child(3) {
	min-width: 240px;
}
