.page 
    padding-bottom 2rem
    padding-top 3.5rem

h2 > a
  font-weight inherit

td > img
  outline solid 1px #555
  height auto
  min-width 50%
  position relative
  z-index 0
//  transition transform .1s, box-shadow .1s .05s, z-index 0.13s

tr:nth-child(2n)
  background-color #ffffff00

th, td
  border 1px solid #00000022
  padding 0.5em 0.5em

th
  background-color #0071ba
  color #fdfdfd

a.header-anchor
  font-size .625em
  float left
  margin-top 0.25em
  margin-left -1.4em
  padding-right 0em
  padding-bottom 0.25em
  opacity 0

.theme-default-content:not(.custom) a:hover
  text-decoration none
  border-bottom #0071ba solid 0.0625em

.line-number, code, kbd
  font-family "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New", "Meiryo", "メイリオ", monospace

.custom-block.danger
  background-color #ffe6e6
  border-color #c00
  color #690000
  .custom-block-title
    color #900

.custom-block.warning 
  background-color #ffe5644d
  border-color #e7c000
  color #423700
  .custom-block-title
    color #635200

.custom-block.tip
  background-color #e9f6ff
  border-color #0071ba
  color #00356b
  .custom-block-title
    color #0051a2

.custom-block.tip, .custom-block.warning, .custom-block.danger
  padding 0.1rem 1.5rem
  border-left-width 0.5rem
  border-left-style solid
  margin 1rem 0
  border-radius 20px 0 0 0

.theme-default-content code
  color #047
  background-color #eee

blockquote
  color #036356
  border-left 0.2rem solid #036356
  background linear-gradient(90deg, #f4f4f4, transparent)
